body {
	line-height: 1.8;
	font-family: 'Libre Franklin', sans-serif;
}

.container-fluid {
  padding-top: 100px;
  padding-bottom: 100px;
}

.navbar {
	margin-bottom: 0;
	letter-spacing: 5px;
	padding-top: 15px;
  padding-bottom: 15px;
}

/* image of me */
#me:hover {
	opacity: 0.5;
	transition-duration: 0.5s;
}

.row-1 {
	background-color: #6C7A89; /
	color: #ffffff;
	padding: 10%;
}

.row-3 {
	background-color: #2c3e50;
	color: #ffffff;
}

.content-box {
	background-color: lightgrey;
	color: #000;
	border-radius: 5px;
	padding: 9%;
	text-align: justify;
	margin: 3%;
	box-shadow: 5px 5px 3px black;
	transition-duration: 0.8s;
}

.content-box:hover {
	background-color: #2c3e50;
	color: #fff;
	transition-duration: 0.8s;
	cursor: pointer;
	box-shadow: 8px 8px 3px black;
}

.row-4 {
	background-image: url("https://s-media-cache-ak0.pinimg.com/originals/5c/f2/66/5cf2660af5f4214def7166dc7a7c8062.jpg");
	color: #ffffff;
}

.styled_button {
	width: 200px;
	height: 50px;
	background-color: #2c3e50;
	border: solid #ffffff 1px;
	border-radius: 5px;
	color: #ffffff;
}

.styled_button:hover {
	background-color: #ffffff;
	color: #000000;
	border: none;
	border-radius: 5px;
	transition-duration: 0.7s;
}

a {
	color: #95a5a6;
}

a:hover {
	color: #c0392b;
	text-decoration: none;
}

/* Skill divs in content box under Skills and Goals */
code {
	background-color: #2c3e50;
	color: #fff;
	padding: 5px;
}

#call_to_action {
	background-color: #000;
  border: solid #fff 1px;
	border-radius: 5px;
  color: #fff;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
}

#call_to_action:hover {
	background-color: #c0392b;
	color: #fff;
	border: solid #000 1px;
}

.footer {
	background-color: #000000;
	color: #34495e; /* dark grey */
}

#footerNav {
	display: inline-block;
	padding: 20px;
	list-style-type: none;
}

#footerNav li {
	float: left;
	padding: 15px;
}
