/*/////////////////////////////////////////
								GENERAL
/////////////////////////////////////////*/

body {
	line-height: 1.8;
	font-family: 'Libre Franklin', sans-serif;
}

a {
	color: #95a5a6;
}

a:hover {
	color: #c0392b;
	text-decoration: none;
}

.container-fluid {
  padding-top: 100px;
  padding-bottom: 100px;
}

.navbar {
	margin-bottom: 0;
	letter-spacing: 5px;
	padding-top: 15px;
  padding-bottom: 15px;
}

/* image of me */
#me {
	border: solid #333 2px;
	transition-duration: 0.2s;
}

#me:hover {
	transition-duration: 0.2s;
	border: solid #333 5px;
}



/*/////////////////////////////////////////
						BACKGROUND COLORS
/////////////////////////////////////////*/

.row-1 {
	background-color: #407A52;
	color: #ffffff;
}

.row-2 {
	background-color: #6B9362;
	color: #ffffff;
}

.row-3 {
	background-color: #87D37C;
	color: #ffffff;
	padding: 10%;
}

.content-box {
	background-color: #6B9362;
	color: #fff;
	border-radius: 5px;
	padding: 5%;
	text-align: justify;
	margin: 3%;
	box-shadow: 0px 5px 3px black;
	transition-duration: 0.8s;
}

.content-box:hover {
	background-color: #264348;
	color: #fff;
	transition-duration: 0.8s;
	cursor: pointer;
	box-shadow: 8px 8px 3px black;
}

.headingTitle {
	text-align: center;
	font-weight: bold;
}

#skills {
	color: #fff;
	font-weight: bold;
}

.styled_button {
	width: 200px;
	height: 50px;
	background-color: #6B9362;
	border: solid #ffffff 1px;
	border-radius: 5px;
	color: #ffffff;
	font-size: 18px;
}

.styled_button:hover {
	background-color: #ffffff;
	color: #000000;
	border: none;
	border-radius: 5px;
	transition-duration: 0.7s;
}



/*/////////////////////////////////////////
							FOOTER ITEMS
/////////////////////////////////////////*/

/*Phone number button on footer*/
#call_to_action {
	background-color: #000;
  border: solid #fff 1px;
	border-radius: 5px;
  color: #fff;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
}

#call_to_action:hover {
	background-color: #c0392b;
	color: #fff;
	border: solid #000 1px;
}

.footer {
	background-color: #000000;
	color: #34495e; /* dark grey */
}

#footerNav {
	display: inline-block;
	padding: 20px;
	list-style-type: none;
}

#footerNav li {
	float: left;
	padding: 15px;
}
